
/*-------------------------
 * import
 *------------------------*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/*-------------------------
 * common
 *------------------------*/
html { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
}
body {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fafafa;
}
@media screen and (min-width: 1217px) {
    body {
        width: 1200px;
        border-right: solid 1px #111;
    }
}

header { 
    background-image: linear-gradient(-45deg, #555 25%, #202487 25%, 
                                              #202487 50%, #555 50%, 
                                              #555 75%, #202487 75%, 
                                              #202487);
    background-size: 6px 6px;
}
footer { 
    margin-top: 3em;
    padding: 0.5em 1em;
    font-size: 0.7em;
    color: #fafafa;
    text-shadow: 1px 1px 0 #111, -1px 1px 0 #111, 1px -1px 0 #111, -1px -1px 0 #111;
    text-align: right;
    background-image: linear-gradient(-45deg, #555 25%, #202487 25%, 
                                              #202487 50%, #555 50%, 
                                              #555 75%, #202487 75%, 
                                              #202487);
    background-size: 6px 6px;
}
main {
    flex: 1;
    background: linear-gradient(#f2f3f3 0%, #fafafa 50%, #fafafa);
}

/*-------------------------
 * style
 *------------------------*/
img { 
    border: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    border: 1px solid #eeeeee;
    border-radius: 3px;
}
.swiper-slide img {
    border: none;
    border-radius: 0px;
}

.box{
    margin: 1em 0;
    padding: 1em 0.5em;
    background-color: #fff;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: right 10px bottom 8px;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box_tw{
    margin: 1em 0;
    padding: 0;
}

p {
    margin-bottom: 2em;
    padding: 0 0.5em;
    letter-spacing: 0.1em;
}
i {
    margin-right: 3px;
}
hr {
    margin: 10px 20px;
}

a:hover { 
    color: #ccc; 
}


h1 {  
    padding: 0.4em 0 0.4em 4.3em;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: #202487;
    text-shadow: 1px 1px 0 #fafafa, -1px 1px 0 #fafafa, 1px -1px 0 #fafafa, -1px -1px 0 #fafafa;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: contain;
}
@media screen and (max-width: 620px) {
    h1 { 
        margin: 0.4em 0;
        padding: 0 0 0 2.7em;
    }
}
@media screen and (max-width: 550px) {
    h1 { 
        padding: 0;
        background-image: none;
    }
}

h2 {
    padding: 5px 10px;
    font-size: 1.7em;
    border-left: 8px solid #202487;
    border-bottom: 1px solid #cccccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
}

h3 {
    margin: 0 0 0.5em;
    padding: 5px 0;
    font-size: 1.3em;
    border-bottom: 1px solid #cccccc;
}
h3 span {
  display: block;
  margin-bottom: .2em;
  color: #aaa;
  font-size: .7em;
}

/*-------------------------
 * class
 *------------------------*/
.theme { 
    margin: 1em 0;
    font-size: 1.5em;
    text-align: center;
}

.corporate {
    margin-left: 1em;
    margin-bottom: 2em;
}
.corporate dd {
    margin-left: 2em;
}
.corporate dt:not(:nth-child(1)) {
    margin-top: 1em;
}

/*-------------------------
 * menu
 *------------------------*/
.nav {
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #999 0%, #666 3%, #555 49%, #333 51%, #111 100%);
}
nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.nav li {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
}

.nav li a {
    display: block;
    color: #ccc; 
    text-decoration: none;
    width: 100%;
}
.nav li a:hover {
    background: linear-gradient(to bottom, #999 0%, #666 3%, #555 49%, #333 51%, #111 100%);
    box-shadow: inset 1px 0px 0 #666;
}

@media screen and (min-width: 769px) {
    nav li {
        border-right:1px solid #111;
        box-shadow: 1px 0px 0 #666;
    }
    .active a {
        color: #333 !important;
        background: linear-gradient(to bottom, #fff 0%, #f2f3f3 3%, #f2f3f3) !important;
        box-shadow: none !important;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        margin: 0;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: linear-gradient(to bottom, #999 0%, #666 1%, #555 24%, #333 26%, #111 50%,
                                               #999 51%, #666 52%, #555 74%, #333 76%, #111 100%);
    }
    .nav li a:hover {
        background: transparent !important;
        box-shadow: none !important;
    }
    nav li {
        display: block;
        float: left;
        width: 25%;
        text-align: center;
        margin-left: -1px;
    }
    
    nav li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4) {
        border-bottom: 1px solid #111;
    }
    nav li:not(:nth-child(4)) {
        border-right: 1px solid #111;
        box-shadow: 1px 0px 0 #666;
    }
}

/*-------------------------
 * google map
 *------------------------*/
.map {
    margin: 20px 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.map iframe, .map object, .map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 769px) {
    .map {
        position: relative;
        padding-bottom: 0;
        padding-top: 30px;
        height: 460px;
        overflow: hidden;
    }

    .map iframe, .map object, .map embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 769px;
        height: 460px;
    }
}

/*-------------------------
 * youtube
 *------------------------*/
.president, .company {
    margin-top: 1em;
}
.president iframe, .company iframe {
    width: 100%;
}

/*-------------------------
 * bootstrap
 *------------------------*/
.container-fluid {
    padding: 0 !important;
}
.row {
    margin: 0 !important;
}

/*-------------------------
 * swiper
 *------------------------*/
.swiper-container {
    width: 100%;
}
